<nav class="navbar navbar-default" style = "background-color: aquamarine">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar" style = "background-color: aquamarine">
                <span style = "background-color: aquamarine" class="icon-bar"></span>
                <span style = "background-color: aquamarine" class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/" ><img class="irc_mi" src="https://www.findingzest.com/wp-content/uploads/2012/06/BANANAGRAMS-Logo.jpg" data-atf="0" width="150" height="75" style=""></a>
        </div>
        <div class="collapse navbar-collapse" class = "bg-3 active>a" id="myNavbar" style = "background-color: aquamarine" style = "color: aquamarine">
                <li class="active" id="index"><a href="/"><p><font size ="4"><strong>Normal Mode</strong></font></p></a></li>
                <li class = "active" style = "color: aquamarine" id="random"><a href="/api/random"><p><font size ="4"><strong>Random Mode</strong></font></p></a></li>
                <li class="active"id="bonus"><a href="/api/bonus"><p><font size ="4"><strong>Bonus Mode</strong></font></p></a></li>
            </ul>
        </div>
    </div>
</nav>