<nav class="navbar navbar-default" style = "background-color: aquamarine">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse " data-target="#myNavbar" >
        <span class="icon-bar" ></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/" ><img class="irc_mi" src="https://www.findingzest.com/wp-content/uploads/2012/06/BANANAGRAMS-Logo.jpg" data-atf="0" width="150" height="75" style=""></a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar" >
      <ul class="nav navbar-nav pull-right">
          <li class = "li a:hover"><a href="/"><p><font size ="4"><strong>Normal Mode</strong></font></p></a></li>
          <li class = "li a:hover" ><a href="/api/random"><p><font size ="4"><strong>Random Mode</strong></font></p></a></li>
          <li class = "li a:hover"><a href="/api/bonus"><p><font size ="4"><strong>Bonus Mode</strong></font></p></a></li>
          <li class = "li a:hover">
              <a href="/api/clear_cookie">
                  <p style = "color:royalblue"><font size ="4">Sign out</font></p>
              </a>
          </li>
      </ul>
    </div>
      <div class = "text-center">
          Welcome <%= Username %>
      </div>
  </div>
</nav>