<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: aquamarine">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><img class="irc_mi" src="/public/img/Scramblelogounedited.png" data-atf="0"
                                                  width="100" height="50" style=""></a>
        </div>
        <div id="myNavbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="li a:hover"><a href="/api/instructions"><p><font
                                    size="4"><strong>Instructions</strong></font></p></a></li>
                <li class="li a:hover"><a href="/"><p><font size="4"><strong>Normal Mode</strong></font></p></a></li>
                <li class="li a:hover"><a href="/api/random"><p><font size="4"><strong>Random Mode</strong></font></p>
                    </a></li>
                <li class="li a:hover"><a href="/api/bonus"><p><font size="4"><strong>Bonus Mode</strong></font></p></a>
                </li>
                <li class="li a:hover">
                    <a href="/api/clear_cookie">
                        <p style="color:royalblue"><font size="4">Sign out</font></p>
                    </a>
                </li>
            </ul>

        </div>
        <div class="text-center">
            Welcome <%= Username %>
        </div>

    </div>
</nav>