<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body style="background-color:aquamarine">
<script>
    function scrambl() {
        var alphabet = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z"];
        var constants = Math.floor((Math.random() * 10) + 5);
        var vowels = Math.floor((Math.random() * 5) + 3);
        var three_letter = Math.floor((Math.random() * 2) + 3);
        var four_letter = Math.floor((Math.random() * 3) + 4);
        var five_letter = Math.floor((Math.random() * 4) + 5);
        var six_letter = Math.floor((Math.random() * 5) + 6);
        var seven_plus = Math.floor((Math.random() * 6) + 7);
        var bonus_letter = alphabet[Math.floor((Math.random() * 24))];
        document.getElementById("scram").innerHTML = "<div class = 'output'><font size=\"5\"<strong>Constants to be flipped: " + constants + "<br>Vowels to be flipped: " + vowels + "</strong></font></div>";

        document.getElementById("time").style.display = "block";
        document.getElementById("shower").style.display = "none";
        document.getElementById("hider").style.display = "block";
    }

    function getCookie(name) {
        let cookie = {};
        document.cookie.split(';').forEach(function(el) {
            let [k,v] = el.split('=');
            cookie[k.trim()] = v;
        })
        return cookie[name];
    }


    function timeUp() {
        var playPromise = document.getElementById('sound').play();
        if(playPromise !== undefined){
            playPromise.then(alert('Times Up!'));
        }
    }



    var myTime;

    function startTimer() {
        myTime = setInterval(timeAction, 1000);
        var counter = 6;
        document.getElementById("time").disabled = true;
        setTimeout(function(){document.getElementById("time").disabled = false;},6000);


        function timeAction() {
            document.getElementById('timer').innerHTML = "<span class = 'timer'><font size=\"5\"><strong>Time Remaining: " + (--counter) + "</strong></font></span>";
            if (counter == 0) {
                clearInterval(myTime);
                timeUp();
            }
        }
    }

</script>
<% include partials/menu %>
<audio id="sound" src="/public/audio/66136__aji__ding30603-spedup.wav" type="audio/wav" preload="auto"></audio>
<div class="container-fluid">
    <div class = "button-center1" style="background-color: aquamarine">
        <button type="button" class="btn btn-primary btn-lg" id="hider"
                style="background-color: tomato; display:none" onclick="scrambl()">Scramble!
        </button>
        <div class = "button-center2">
            <br>
            <button type="button" class="btn btn-primary btn-sm" id="time"
                    style="background-color: dodgerblue; display:none" onclick="startTimer()">Timer
            </button>
        </div>
    </div>
    <div class="highest-panel-link2" id="scram" style="height:300px;width:1000px">

    </div>
    <!--        <h3><%= page %></h3><br>-->

    <div class="button-center" id="buttons">

        <div style="background-color: aquamarine">
            <button type="button" class="btn btn-primary btn-lg" id="shower" style="background-color: tomato"
                    onclick="scrambl()">Scramble!
            </button>
        </div>
        <div id="timer">
            <br>
        </div>
    </div>
</div>


</body>
<% include partials/script %>
</html>

