<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body style="background-color:aquamarine">
<script>
    function scrambl() {
        var alphabet = ["a", "b", "c", "d", "e", "f", "g", "h", "i", "j", "k", "l", "m", "n", "o", "p", "q", "r", "s", "t", "u", "v", "w", "x", "y", "z"];
        var constants = Math.floor((Math.random() * 10) + 5);
        var vowels = Math.floor((Math.random() * 5) + 3);
        var three_letter = Math.floor((Math.random() * 2) + 3);
        var four_letter = Math.floor((Math.random() * 3) + 4);
        var five_letter = Math.floor((Math.random() * 4) + 5);
        var six_letter = Math.floor((Math.random() * 5) + 6);
        var seven_plus = Math.floor((Math.random() * 6) + 7);
        var bonus_letter = alphabet[Math.floor((Math.random() * 24))];
        document.getElementById("scram").innerHTML = "<span class = 'output'><font size=\"5\"<strong>Constants to be flipped: " + constants + "<br>Vowels to be flipped: " + vowels + "</strong></font></span>";
        document.getElementById("time").style.display = "block";
        document.getElementById("shower").style.display = "none";
        document.getElementById("hider").style.display = "block";
    }



    function timeUp() {
        document.getElementById('sound').play().then(alert('Times Up!'));
        //alert('Times Up!');
    }

    var myTime;
    function startTimer() {
        myTime = setInterval(timeAction, 1000);
        var counter = 31;


        function timeAction() {
            document.getElementById('timer').innerHTML = "<span class = 'timer'><font size=\"5\"><strong>Time Remaining: " + (--counter) + "</strong></font></span>";
            if (counter == 0) {
                clearInterval(myTime);
                timeUp();
            }
        }
    }
    var hide = false;
    function showSignup(){
        document.getElementById('signup').style = "display: block";
        hide = !hide;
        document.getElementById('loginButton').style = "display:block";
        if(hide) {
            document.getElementById('signinButton').style = "display:none";
        }
    }
    function showLogin(){
        hide = !hide;
        document.getElementById('signinButton').style = "display:block";
        document.getElementById('loginButton').style = "display:none";
        document.getElementById('signup').style = "display:none";
    }

    var form = document.getElementById('return');
    document.forms;
    document.forms[0];
    form.submit();
    //maybe add an event listener

    //let form = document.getElementById('signup');
    let firstname = form.elements['firstname'];
    let lastname = form.elements['lastname'];
    let email = form.elements['email'];

    let first = firstname.value;
    let last = lastname.value;
    let emailAddress = email.value;

    function error(input, message) {
        input.className = 'error';
        const error = input.previousElementSibling;
        error.innerHTML = message;
        return false;
    }


</script>
<% include partials/menu %>
<audio id="sound" src="/public/audio/66136__aji__ding30603-spedup.wav" type = "audio/wav" preload="auto"></audio>
<div>
    <div class = "login" id = "login"><button type="button" class="btn btn-primary" id="loginButton" style = "display:none; width:76px" onclick = "showLogin()">Log In</button>
    </div>
    <div class = "singin" id = "signin">
        <button type="button" style = "display:block; width:76px" class="btn btn-primary" id="signinButton" onclick = "showSignup()">Sign Up</button></div>
    </div>
        <br>
        <div class="form" id = "signup" style="display:none">
            <form action="/signup" method="post" id="signup">
                <br>
                <input style = "height:50px" type = "text" id = "username" placeholder = "Username">
                <br>
                <input style = "height:50px" type="text" id="password" placeholder="Password">
                <br>
                <input style = "height:50px" type="text" id="email" placeholder="Email Address">
                <br>
                <input type="submit" id="return">
            </form>

        </div>
    </div>
</div>
<div class = "highest-panel-link2" id="scram">

</div>
<div class="container-fluid">
    <h3><%= page %></h3><br>

    <div class = "button-center" id="buttons">

        <div style="background-color: aquamarine">
            <button type="button" class="btn btn-primary btn-lg" id = "shower" style="background-color: tomato" onclick="scrambl()">Scramble!
            </button>
        </div>
        <div class = "hidden-button" style="background-color: aquamarine">
            <button type="button" class="btn btn-primary btn-lg" id = "hider" style="background-color: tomato; display:none" onclick="scrambl()">Scramble!
            </button>
        </div>
        <div class = "button-relative">
        <br>
            <button type="button" class="btn btn-primary btn-sm" id="time"
                    style="background-color: dodgerblue; display:none" onclick="startTimer()">Timer
            </button>
        </div>
        <div id="timer">
            <br>
        </div>
        </div>
    </div>
</div>


</body>
<% include partials/script %>
</html>

