<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body style="background-color:aquamarine">
<% include partials/menu %>


</body>
<% include partials/script %>
</html>

