<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head %>
</head>
<body style="background-color:aquamarine">
<% include partials/menu %>
<div class="body text-center">
    <h3><strong>How To Play</strong></h3>
    <br>
        <p>Scramble is a game based off of Bananagrams.</p>
        <p>Choose one of the three game options: normal mode, random mode, or bonus mode.</p>
    <p>In each mode, a random value for consonants to be flipped and vowels to be flipped is given.</p>
    <p>With your Bananagrams tiles, sort and create a pile of consonants and a pile of vowels. Then flip the correct number of consonants and vowels over.</p>
    <br>
    <p>In the normal mode, try to create the longest word using the letters. Only one word is scored, and the score is the number of letters used.</p>
    <p>In the random mode, a randomly generated score for word lengths of 3 and up are used to calculate total score. Multiple words can be created and scored, however words cannot overlap each other.</p>
    <p>In the bonus mode, a randomly selected letter is the "bonus" letter and whichever word uses that letter will have a doubled score. Again, multiple words can be created and scored. And scores will be the number of letters used in each word(s).</p>
</div>

</body>
<% include partials/script %>
</html>

