.bg-3 {
      background-color: #1abc9c;
      color: black;
  }
  .container-fluid {
      padding-top: 20px;
      padding-bottom: 1px;
  }
  .navbar {
      padding-top: 15px;
      padding-bottom: 15px;
      border: 0;
      border-radius: 0;
      margin-bottom: 0;
      font-size: 12px;
      letter-spacing: 5px;
  }
.navbar2 {
    padding-top: 0px;
    padding-bottom: 0px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 2px;
    color: black
}
.navbar-brand{
    position: absolute;
    top:0px;
    left: 1%;
}
  .navbar-nav  li a:hover {
      color: lightgreen !important;
  }

  .active>a {
    color: #1abc9c !important;;
  }

.content {
    position: relative;
}
#left-panel-link {
    position: absolute;
    top: 23px;
    left: 460px;

}

#center-panel-link {
    position: absolute;
    bottom: 530px;
    left: 650px;
}
#center-panel-link3 {
    position: absolute;
    bottom: 530px;
    left: 300px;
}

#lower-panel-link{
    position:absolute;
    bottom: 489px;
    left:650px
}

#higher-panel-link{
    position:absolute;
    bottom:489px;
    right:642px;
}

.highest-panel-link{
    position:absolute;
    bottom:215px;
    left: 510px;
}

.highest-panel-link2{
    position:absolute;
    top:30%;
    left: 35%;
}
.highest-panel-link3{
    position:absolute;
    top:50%;
    right: 50%;
}

.button-center{
    position:absolute;
    top: 31%;
    right:47%;
}

.button-center1{
    position:absolute;
    top: 31.75%;
    right:47%;
}

.button-relative{
    position: absolute;
    top: 265px;
    right: 30px;
}

.output{
    position: absolute;
    top:2%;
    left:38px;
    width: 500px;
}

/*.output2{*/
/*    position: relative;*/
/*    top:30px;*/
/*    left:38px;*/
/*    width: 500px;*/
/*}*/

/*.output3{*/
/*    position: absolute;*/
/*    top:120px;*/
/*    left:65px;*/
/*    width: 500px;*/
/*}*/

.hidden-button{
    position: absolute;
    top:230px;
    right:0px;

}

.timer{
    position: absolute;
    top: 378px;
    left:15px;
    width:500px;
    color: black;
}

.form{
    position: absolute;
    top: 37px;
    left: 458px;
}

.singin{
    position:absolute;
    top: 23px;
    left: 460px;
}

.login{
    position:relative;
    top:3.3%;
    left: 32%;
}

.login-center{
    position: absolute;
    top: 15%;
    left: 15%;
    width: 150%;
}

.error{
    position:absolute;
    top:4%;
    left:30%;
    width:100%;
}

.signup-center{
    position:absolute;
    top:15%;
    left:37%;
    width:150%
}

.hidden-button2{
    position:absolute;
    top:250px;
    left:200px;
}

.button-center1{
    position:absolute;
    left:43%;
    top:76%;
}

.button-center2{
    position:relative;
    left:23%;
}
